#body {
    background-color: #DEF1F9;
    font-family: 'Lato', sans-serif;
}

#container {
    max-width: 500px;
    margin: auto;
    padding-top: 20px;
}

#logo {
    display:block;
    margin:auto;
    padding-bottom: 5px;
}

#content {
    display:block;
    margin:auto;
    text-align: center;
}

table {
    border-collapse: inherit;
    border-spacing: 0 28px;
    text-align: center;
}

span {
    font-size: 17px;
}

sub {
    vertical-align: sub;
    font-size: 12px;
    font-weight: 900;
    display: inline-block;
    padding-top: 5px;
}

.spinner {
    margin: 2px auto;
    width: 20px;
    height: 20px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #333;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(21px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(21px) translateY(21px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(21px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% { 
        transform: translateX(21px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(21px) rotate(-90deg) scale(0.5);
    } 50% { 
        transform: translateX(21px) translateY(21px) rotate(-179deg);
        -webkit-transform: translateX(21px) translateY(21px) rotate(-179deg);
    } 50.1% { 
        transform: translateX(21px) translateY(21px) rotate(-180deg);
        -webkit-transform: translateX(21px) translateY(21px) rotate(-180deg);
    } 75% {
        transform: translateX(0px) translateY(21px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(21px) rotate(-270deg) scale(0.5);
    } 100% { 
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}